.ant-modal {
    &-header {
        padding: 0;
        background-color: #eaebec;

    }

    &-title{
        font-size: 0.875em;
        height: 30px;
        margin-left: 5px;
    } 

    &-close-x {
        font-size: 0.875em;
        position: relative;
        top: -14px;
    }
}