@import './variables.less';

:root{
    box-sizing: border-box;
    height: 100%;
}

body {
    width: 100% !important;
}

*,
::before,
::after {
    box-sizing: inherit;
}


body{
    height: 100%;
    background: linear-gradient(to right, rgba(104, 203, 131, 1) 0%, rgba(52, 156, 220, 1) 100%);
}


#app {
    height: 100%;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
}

input[type=number] {
  -moz-appearance: textfield;
}