@import './variables.less';

:root{
    box-sizing: border-box;
    height: 100%;
}

*,
::before,
::after {
    box-sizing: inherit;
}


body{
    height: 100%;
    background: linear-gradient(to right, rgba(104, 203, 131, 1) 0%, rgba(52, 156, 220, 1) 100%);
}

body * + * {
    margin-top:1.5em;
}

#app {
    height: 100%;
}
